In [1]:
import pandas as pd

In [2]:
df = pd.ExcelFile("../data/Analysis example.xlsx")

In [3]:
df_sheet = df.parse('Basedata')

In [4]:
df_sheet.head()

,Unnamed: 0,Source,Source Date,Part,End Customer,Date2,BOOKED,SHIPPED,BS,Supply,...,Quarter1,Quarter2,Business Unit,Product Type,Family,Brand Name,End Customer Full Name,End Cus,End Cus 2,Quantity
0,0,Demand_04-29-2024,2024-04-29,699-13756-0010-RC1,400019.0,2024-02-26,0.0,307.0,307.0,0,...,2025_Q1,Q1 FY25,MB,BD,D103,NaN,INTEL,Intel,Other,307.0
1,1,Demand_04-29-2024,2024-04-29,699-13756-0010-RC1,400019.0,2024-03-01,0.0,6.0,6.0,0,...,2025_Q1,Q1 FY25,MB,BD,D103,NaN,INTEL,Intel,Other,6.0
2,2,Demand_04-29-2024,2024-04-29,699-13756-0010-RC1,400019.0,2024-03-04,0.0,2.0,2.0,0,...,2025_Q1,Q1 FY25,MB,BD,D103,NaN,INTEL,Intel,Other,2.0
3,3,Demand_04-29-2024,2024-04-29,699-13756-0010-RC1,400019.0,2024-03-12,0.0,2.0,2.0,0,...,2025_Q1,Q1 FY25,MB,BD,D103,NaN,INTEL,Intel,Other,2.0
4,4,Demand_04-29-2024,2024-04-29,AD103-750-A1,400027.0,2024-01-29,0.0,1000.0,1000.0,0,...,2025_Q1,Q1 FY25,MB,CH,D103,RTX4090NB,"MICRO-STAR INT'L CO., LTD",MSI,MSI,1000.0

In [5]:
df_sheet.head()

,Unnamed: 0,Source,Source Date,Part,End Customer,Date2,BOOKED,SHIPPED,BS,Supply,...,Quarter1,Quarter2,Business Unit,Product Type,Family,Brand Name,End Customer Full Name,End Cus,End Cus 2,Quantity
0,0,Demand_04-29-2024,2024-04-29,699-13756-0010-RC1,400019.0,2024-02-26,0.0,307.0,307.0,0,...,2025_Q1,Q1 FY25,MB,BD,D103,NaN,INTEL,Intel,Other,307.0
1,1,Demand_04-29-2024,2024-04-29,699-13756-0010-RC1,400019.0,2024-03-01,0.0,6.0,6.0,0,...,2025_Q1,Q1 FY25,MB,BD,D103,NaN,INTEL,Intel,Other,6.0
2,2,Demand_04-29-2024,2024-04-29,699-13756-0010-RC1,400019.0,2024-03-04,0.0,2.0,2.0,0,...,2025_Q1,Q1 FY25,MB,BD,D103,NaN,INTEL,Intel,Other,2.0
3,3,Demand_04-29-2024,2024-04-29,699-13756-0010-RC1,400019.0,2024-03-12,0.0,2.0,2.0,0,...,2025_Q1,Q1 FY25,MB,BD,D103,NaN,INTEL,Intel,Other,2.0
4,4,Demand_04-29-2024,2024-04-29,AD103-750-A1,400027.0,2024-01-29,0.0,1000.0,1000.0,0,...,2025_Q1,Q1 FY25,MB,CH,D103,RTX4090NB,"MICRO-STAR INT'L CO., LTD",MSI,MSI,1000.0

In [6]:
df_sheet['Source'].unique()

array(['Demand_04-29-2024', 'Demand_05-06-2024', 'Demand_05-13-2024',
       'Demand_05-20-2024', 'Demand_05-28-2024', 'Demand_06-03-2024',
       'Demand_06-10-2024', 'Demand_06-17-2024', 'Demand_06-24-2024',
       'Supply_04-29-2024', 'Supply_05-06-2024', 'Supply_05-13-2024',
       'Supply_05-20-2024', 'Supply_05-28-2024', 'Supply_06-03-2024',
       'Supply_06-10-2024', 'Supply_06-17-2024', 'Supply_06-24-2024',
       'Allocation_04-29-2024', 'Allocation_05-06-2024',
       'Allocation_05-13-2024', 'Allocation_05-20-2024',
       'Allocation_05-28-2024', 'Allocation_06-03-2024',
       'Allocation_06-10-2024', 'Allocation_06-17-2024',
       'Allocation_06-24-2024'], dtype=object)

In [7]:
df_temp = df_sheet[(df_sheet['Source'] == 'Demand_06-24-2024') | (df_sheet['Source'] == 'Allocation_06-24-2024')].copy()

In [8]:
df_temp.head()

,Unnamed: 0,Source,Source Date,Part,End Customer,Date2,BOOKED,SHIPPED,BS,Supply,...,Quarter1,Quarter2,Business Unit,Product Type,Family,Brand Name,End Customer Full Name,End Cus,End Cus 2,Quantity
7854,7854,Demand_06-24-2024,2024-06-24,AD103-750-A1,400027.0,2024-05-01,0.0,2100.0,2100.0,0,...,2025_Q2,Q2 FY25,MB,CH,D103,RTX4090NB,"MICRO-STAR INT'L CO., LTD",MSI,MSI,2100.0
7855,7855,Demand_06-24-2024,2024-06-24,AD103-750-A1,400027.0,2024-06-03,0.0,500.0,500.0,0,...,2025_Q2,Q2 FY25,MB,CH,D103,RTX4090NB,"MICRO-STAR INT'L CO., LTD",MSI,MSI,500.0
7856,7856,Demand_06-24-2024,2024-06-24,AD103-750-A1,400027.0,2024-06-11,0.0,500.0,500.0,0,...,2025_Q2,Q2 FY25,MB,CH,D103,RTX4090NB,"MICRO-STAR INT'L CO., LTD",MSI,MSI,500.0
7857,7857,Demand_06-24-2024,2024-06-24,AD103-750-A1,400027.0,2024-06-17,0.0,500.0,500.0,0,...,2025_Q2,Q2 FY25,MB,CH,D103,RTX4090NB,"MICRO-STAR INT'L CO., LTD",MSI,MSI,500.0
7858,7858,Demand_06-24-2024,2024-06-24,AD103-750-A1,400027.0,2024-07-07,500.0,0.0,500.0,0,...,2025_Q2,Q2 FY25,MB,CH,D103,RTX4090NB,"MICRO-STAR INT'L CO., LTD",MSI,MSI,500.0

In [9]:
df_temp.tail()

,Unnamed: 0,Source,Source Date,Part,End Customer,Date2,BOOKED,SHIPPED,BS,Supply,...,Quarter1,Quarter2,Business Unit,Product Type,Family,Brand Name,End Customer Full Name,End Cus,End Cus 2,Quantity
25791,25791,Allocation_06-24-2024,2024-06-24,AD107-775-A1,403201.0,2024-07-14,NaN,NaN,NaN,0,...,2025_Q2,Q2 FY25,MB,CH,D107,RTX4060NB,"HONOR DEVICE CO., LTD.",Honor,Other,3000.0
25792,25792,Allocation_06-24-2024,2024-06-24,AD107-775-A1,403201.0,2024-07-28,NaN,NaN,NaN,0,...,2025_Q2,Q2 FY25,MB,CH,D107,RTX4060NB,"HONOR DEVICE CO., LTD.",Honor,Other,1079.0
25793,25793,Allocation_06-24-2024,2024-06-24,AD107-775-A1,403201.0,2024-08-11,NaN,NaN,NaN,0,...,2025_Q3,Q3 FY25,MB,CH,D107,RTX4060NB,"HONOR DEVICE CO., LTD.",Honor,Other,3000.0
25794,25794,Allocation_06-24-2024,2024-06-24,AD107-775-A1,403201.0,2024-08-18,NaN,NaN,NaN,0,...,2025_Q3,Q3 FY25,MB,CH,D107,RTX4060NB,"HONOR DEVICE CO., LTD.",Honor,Other,173.0
25795,25795,Allocation_06-24-2024,2024-06-24,AD107-775-A1,403201.0,2024-09-08,NaN,NaN,NaN,0,...,2025_Q3,Q3 FY25,MB,CH,D107,RTX4060NB,"HONOR DEVICE CO., LTD.",Honor,Other,2000.0

In [10]:
df_temp['End Customer Full Name'].unique()

array(["MICRO-STAR INT'L CO., LTD", 'ACER INCORPORATED.', 'LEGEND/LENOVO',
       'CLEVO CO.', 'AISTONE', 'QUANTA COMPUTER INC.', 'DELL--MB',
       'ASUSTEK OWNBRAND', 'RAZER (ASIA-PACIFIC) PTE LTD.',
       'HPI - GEFORCE NB', 'GIGABYTE TECHNOLOGY CO., LTD.', 'SAMSUNG',
       'BYD COMPANY LIMITED', 'ZOTAC TECHNOLOGY LIMITED', 'MICROSOFT',
       'LG ELECTRONICS INC.', 'BEIJING XIAOMI COMMUNICATIONS CO.,',
       'HONOR DEVICE CO., LTD.'], dtype=object)

In [11]:
df_temp = df_temp[df_temp['End Customer Full Name'] == 'ACER INCORPORATED.'].copy()

In [12]:
df_temp.head()

,Unnamed: 0,Source,Source Date,Part,End Customer,Date2,BOOKED,SHIPPED,BS,Supply,...,Quarter1,Quarter2,Business Unit,Product Type,Family,Brand Name,End Customer Full Name,End Cus,End Cus 2,Quantity
7862,7862,Demand_06-24-2024,2024-06-24,AD103-750-A1,400036.0,2024-05-07,0.0,100.0,100.0,0,...,2025_Q2,Q2 FY25,MB,CH,D103,RTX4090NB,ACER INCORPORATED.,Acer,Acer,100.0
7863,7863,Demand_06-24-2024,2024-06-24,AD103-750-A1,400036.0,2024-06-14,0.0,200.0,200.0,0,...,2025_Q2,Q2 FY25,MB,CH,D103,RTX4090NB,ACER INCORPORATED.,Acer,Acer,200.0
7864,7864,Demand_06-24-2024,2024-06-24,AD103-750-A1,400036.0,2024-06-24,890.0,0.0,890.0,0,...,2025_Q2,Q2 FY25,MB,CH,D103,RTX4090NB,ACER INCORPORATED.,Acer,Acer,890.0
7962,7962,Demand_06-24-2024,2024-06-24,AD104-750-A1,400036.0,2024-05-02,0.0,600.0,600.0,0,...,2025_Q2,Q2 FY25,MB,CH,D104,RTX4080NB,ACER INCORPORATED.,Acer,Acer,600.0
7963,7963,Demand_06-24-2024,2024-06-24,AD104-750-A1,400036.0,2024-05-07,0.0,500.0,500.0,0,...,2025_Q2,Q2 FY25,MB,CH,D104,RTX4080NB,ACER INCORPORATED.,Acer,Acer,500.0

In [13]:
df_temp['Brand Name'].unique()

array(['RTX4090NB', 'RTX4080NB', 'RTX4070NB', 'RTX4050NB', 'RTX4060NB',
       'RTX2050NB', 'RTX3050NB', 'RTX3050TINB'], dtype=object)

In [15]:
df_temp[df_temp['Part'] == 'GA107-730-K2-A1'][['Source Date', 'Date2', 'BOOKED', 'SHIPPED', 'BS', 'Supply', 'Allocation', 'Quantity']]

,Source Date,Date2,BOOKED,SHIPPED,BS,Supply,Allocation,Quantity
8852,2024-06-24,2024-05-07,0.0,25000.0,25000.0,0,0.0,25000.0
8853,2024-06-24,2024-06-04,0.0,20000.0,20000.0,0,0.0,20000.0
8854,2024-06-24,2024-06-14,0.0,10000.0,10000.0,0,0.0,10000.0
8855,2024-06-24,2024-07-03,15000.0,0.0,15000.0,0,0.0,15000.0
8856,2024-06-24,2024-07-12,10000.0,0.0,10000.0,0,0.0,10000.0
8857,2024-06-24,2024-08-09,40000.0,0.0,40000.0,0,0.0,40000.0
8858,2024-06-24,2024-09-03,20000.0,0.0,20000.0,0,0.0,20000.0
25018,2024-06-24,2024-05-12,NaN,NaN,NaN,0,25000.0,25000.0
25019,2024-06-24,2024-06-09,NaN,NaN,NaN,0,20000.0,20000.0
25020,2024-06-24,2024-06-16,NaN,NaN,NaN,0,10000.0,10000.0
25021,2024-06-24,2024-07-07,NaN,NaN,NaN,0,15000.0,15000.0
25022,2024-06-24,2024-07-14,NaN,NaN,NaN,0,10000.0,10000.0
25023,2024-06-24,2024-07-28,NaN,NaN,NaN,0,0.0,0.0
25024,2024-06-24,2024-08-11,NaN,NaN,NaN,0,40000.0,40000.0
25025,2024-06-24,2024-09-22,NaN,NaN,NaN,0,20000.0,20000.0